/* p a d s e e k */

/* module overlay css */

.name_sequence {
	padding: 15px;
	text-align: left;
	height: 30px;
	background: #f5f5f5;
	margin-bottom: 25px;
	border: 1px solid #738290;
	border-radius: 5px;
	font-size: 1.5em;
	opacity: 0.75;
	background: #F5F5F5 !important;
}

.name_sequence_overlay {
	text-align: center;
	margin: -25px;
	background: #FFFCF7;
	padding: 25px;
	width: 248px;
}

.name_and_save_sequence {
	font-family: 'Shrikhand', cursive;
	width: 80%;
	border: none;
	background: floralwhite !important;
	border-radius: 5px;
	height: 50px;
	font-size: 1.5em;
	color: #738290 !important;
	border: 0.5px solid rgba(00, 00, 00, 0.25);
}

.name_and_save_sequence:hover {
	background: white !important;
}

.name_and_share_sequence {
	font-family: 'Shrikhand', cursive;
	width: 80%;
	border: none;
	background: floralwhite !important;
	border-radius: 5px;
	height: 50px;
	font-size: 1.5em;
	color: #738290 !important;
	border: 0.5px solid rgba(00, 00, 00, 0.25);
}

.name_and_share_sequence:hover {
	background: white !important;
}

.naming_sequence_overlay_buttons {
	list-style-type: none;
	justify-content: center;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

.naming_sequence_overlay_buttons input {
	min-width: 100%;
	max-width: 100%;
	padding: 0 25px;
}

.never_mind {
	font-family: 'Shrikhand', cursive;
	border: none;
	background: white;
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	zoom: 0.75;
	font-size: 1.5em;
	width: 85% !important;
	text-align: center;
	color: white;
	border: 1px solid rgba(00, 00, 00, 0.25);
	background: rgb(205, 130, 130) !important;
}

.never_mind:hover {
	color: rgb(205, 130, 130) !important;
	background: white !important;
	opacity: 1 !important;
}

.overlay {
	height: 100%;
	position: absolute;
	background: white;
	justify-content: center;
	transition: all 0.15s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	display: inline-block;
	z-index: -1;
	opacity: 0;
}

.old_sample_type {
	background: floralwhite !important;
	color: rgb(84, 84, 84) !important;
}

.sample_swap_overlay {
	text-align: center;
	padding: 25px;
	max-width: 268px;
	max-height: 244px;
	border: 0.5px dashed rgba(00, 00, 00, 0.5);
	border-radius: 5px;
	width: 100%;
	background: floralwhite;
}

.sample_swap_overlay .overlay_description {
	padding-bottom: 25px;
}

.sample_swap_label {
	font-family: 'Shrikhand', cursive;
	color: rgb(205, 130, 130);
	font-size: 2em;
	text-shadow: 0.5px 0.5px 0.5px rgba(00, 00, 00, 0.25);
	margin-top: 25px;
}

.sample_swap_select {
	width: 150px;
	margin: 10px 0 25px 0;
	border: 0.5px dashed rgba(00, 00, 00, 0.5) !important;
	zoom: 1.25;
}

.shortcuts_overlay {
	width: 90%;
	height: auto;
	position: absolute;
	margin-top: -7px;
}

.swap_sample_type {
	width: 85% !important;
	border-radius: 5px;
	background: aliceblue;
	font-family: 'Shrikhand', cursive;
	color: #738290 !important;
	font-size: 1.5em;
	height: 50px;
	zoom: 0.75;
	margin-top: 20px;
}

.swap_sample_type:hover {
	background: white;
	color: #738290 !important;
}

.saved .name_sequence_overlay {
	height: 170px;
}