/* p a d s e e k */

/* drum pad module css */

.duplicate_pad {
	position: absolute;
	margin: -25px 0 0 50px;
	border: none;
	padding: 0 0 0 85px;
	color: #545454;
}

.duplicate_pad,
.duplicate_sequence,
.remove_pad {
	text-shadow: none;
}

.duplicate_sequence {
	position: absolute;
	border: none;
	padding: 0 0 0 170px;
	margin-top: 300px;
	color: white;
	background: #738290;
	width: 298px;
	border-radius: 5px;
	height: 25px;
	text-shadow: none;
}

.duplicate_sequence:hover {
	text-shadow: 1px 1px 0.5px rgba(00, 00, 00, 0.5);
	opacity: 0.75;
}

.pad {
	min-width: 296px;
	max-width: 296px;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	margin-left: 40px;
	overflow: visible;
}

.pad,
.pad_piece {
	border-radius: 5px;
	border: 0.5px dashed rgba(00, 00, 00, 0.5);
	background: aliceblue;
	padding: 2.5px 0 2.5px 0;
}

.pad_manipulator:not(.duplicate_sequence):not(.remove_all_pads) {
	background: #FFFCF7;
}

.pad_manipulator:hover {
	opacity: 0.5 !important;
}

.pad_piece {
	transition-timing-function: ease-in-out;
	transition: opacity 0.1s, box-shadow 0.1s, border-radius 0.2s, background 0.2s;
	min-width: 25px;
	height: 25px;
	margin: 5px;
	padding: 0;
	border-radius: 2px;
}

.pad_piece:hover {
	opacity: 0.75;
}

.pad_piece:active {
	opacity 0.25;
}

.pad_piece[data-state="active"] {
	min-width: 25px;
	margin: 5px;
	height: 25px;
	opacity: 1;
	background: white;
	border-radius: 8px;
}

.pad_piece[data-state="inactive"] {
	min-width: 25px;
	margin: 5px;
	height: 25px;
	opacity: 1.0;
	background: aliceblue;
	border-radius: 2px;
}

/* pad_piece_triggered_active */

.ppta {
	min-width: 25px;
	margin: 5px;
	height: 25px;
	opacity: 0.5 !important;
	background: white;
	border-radius: 8px;
	animation: unset;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 0.5px;
}

/* pad_piece_triggered_inactive */

.ppti {
	min-width: 25px;
	margin: 5px;
	height: 25px;
	opacity: 0.25 !important;
	background: white;
	border-radius: 2px;
	animation: unset;
	box-shadow: none;
}

.remove_all_pads {
	position: absolute;
	border: none;
	padding: 0 0 0 170px;
	margin-top: 300px;
	color: white;
	background: rgb(205, 130, 130);
	width: 298px;
	border-radius: 5px;
	height: 25px;
	text-shadow: none;
}

.remove_all_pads:hover {
	text-shadow: 1px 1px 0.5px rgba(00, 00, 00, 0.5);
}

.remove_pad {
	position: absolute;
	margin: -25px 25px 0 -65px;
	border: none;
	padding: 0 100px 0 0;
	z-index: 10;
	color: rgb(205, 130, 130);
}