/* p a d s e e k */
/* randomization module css */

.randomization_checkbox {
  position: relative;
  border-radius: 20px;
  background: white;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
	width: 20px;
	height: 12px;
	border: 0.5px solid slategray;
}

.randomization_checkboxes {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.randomization_checkboxes label {
	padding: 0 10px;
}

.randomization_checkboxes li {
	display: inline-flex;
}

.randomization_checkbox::after {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: slategray;
  transition: all .1s linear;
}

.randomization_checkbox:checked {
  background: slategray;
}

.randomization_checkbox:checked::after {
  transform: translateX(100%);
  background: white;
}

.randomization_module {
	display: inline-block;
  justify-content: center;
  padding: 10px 32px;
	width: 298px;
}

.randomize {
	font-family: 'Shrikhand', cursive;
  transition: box-shadow 0.1s ease-in-out;
  transition: background 1.25s ease-in-out;
	width: 100%;
	border: none;
	background: floralwhite;
	height: 50px;
	border-radius: 5px;
	font-size: 1.5em;
	margin: 10px 0;
	color: white;
	border: 0.5px solid rgba(00, 00, 00, 0.25);
}

.randomize:hover {
	background: aliceblue;
}