/* p a d s e e k */
/* randomization module css */

.random_shared_sequence {
	transition-timing-function: ease-in-out;
  transition: box-shadow 0.1s, border-color 1.25s, color 1.25s;
	font-family: 'Shrikhand', cursive;
	width: 80%;
	border: none;
	border-radius: 5px;
	background: white;
	height: 50px;
	margin-top: 42px;
	zoom: 0.75;
	font-size: 1.5em;
	width: -webkit-fill-available;
	text-align: center;
	color: slategray;
	border: 1px dashed rgba(00, 00, 00, 0.5);
	text-shadow: 1px 1px 0.5px rgba(00, 00, 00, 0.75);
}

.random_shared_sequence:hover {
	background: floralwhite;
}

.randomization_checkbox {
  position: relative;
  border-radius: 20px;
  background: white;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
	width: 20px;
	height: 12px;
	border: 0.5px solid #738290;
}

.randomization_checkboxes {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.randomization_checkboxes label {
	padding: 0 10px;
}

.randomization_checkboxes li {
	display: flex;
	max-width: 47%;
	margin: 2.5px;
	flex-wrap: wrap;
	border: 0.5px dashed rgba(00, 00, 00, 0.5);
	border-radius: 5px;
	background: #FFFCF7;
}

.randomization_checkboxes li:eq(0), .randomization_checkboxes li:eq(1) {
	width: -webkit-fill-available;
}

.randomization_checkbox::after {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(205, 130, 130);
  transition: all .1s linear;
}

.randomization_checkbox:checked {
  background: #738290;
}

.randomization_checkbox:checked::after {
  transform: translateX(100%);
  background: white;
}

.randomization_module {
	display: inline-block;
  justify-content: center;
  padding: 10px 35px;
	width: 298px;
}

.randomize {
	font-family: 'Shrikhand', cursive;
  transition: box-shadow 0.1s ease-in-out;
  transition: background 1.25s ease-in-out;
	width: 100%;
	border: none;
	background: floralwhite;
	height: 50px;
	border-radius: 5px;
	font-size: 1.5em;
	margin: 10px 0;
	color: white;
	border: 0.5px solid rgba(00, 00, 00, 0.25);
}

.randomize:hover {
	background: aliceblue;
}