/* p a d s e e k */
/* sample selection module css */

.change_sample_type {
	transition: all 0.25s ease-in-out;
	background: none;
	border: none;
	opacity: 0.5;
	position: absolute;
	margin-left: -40px;
	margin-top: 5.5px;
}

.change_sample_type:hover {
	opacity: 1.0;
}

.label {}

.labels .label {
	opacity: 0.5;
}

.labels,
.selects {
	list-style-type: none;
	line-height: 35px;
	height: 294px;
	display: grid;
	width: 150px;
	background: floralwhite;
	border: 0.5px dashed rgba(00, 00, 00, 0.5);
	position: relative;
}

.labels {
	width: -webkit-fill-available;
	padding: 0 0 0 7.5px;
	border-radius: 5px 0 0 5px;
	margin: 0;
	border-right: none;
	overflow: visible;
	min-width: 155px;
	max-width: 155px;
}

.labels li,
.selects li {
	border-bottom: 0.5px dashed rgba(00, 00, 00, 0.5);
}

.labels li:last-child,
.selects li:last-child {
	border-bottom: none;
}

.labels_item {
	padding: 0 40px 0 0;
	overflow: visible;
}

.samples {
	display: inline-flex;
}

.sample_sample {
	transition: all 0.25s ease-in-out;
	background: none;
	border: none;
	opacity: 0.3;
	padding: 10px 15px 0 10px;
}

.sample_sample:hover {
	opacity: 0.6;
}

.select {
	width: 150px;
	border: none;
	background: floralwhite;
}

.selects {
	padding: 0 2.5px;
	margin: 0 -2.5px;
	padding: 0 7.5px 0 0;
	border-radius: 0 5px 5px 0;
	border-left: none;
	min-width: 150px;
	max-width: 150px;
}