/* p a d s e e k */
/* saved sequences module css */

.load_user_sequences {
	font-family: 'Shrikhand', cursive;
	width: 80%;
	border: none;
	background: floralwhite !important;
	border-radius: 5px;
	height: 50px;
	font-size: 1.5em;
	color: #738290 !important;
	border: 1px solid rgba(00, 00, 00, 0.25);
	margin-top: 20px;
	zoom: 0.75;
}

.load_user_sequences:hover {
	background: white;
}

.load_user_sequences_input {
	text-align: left;
	height: 25px;
	background: #f5f5f5 !important;
	border: 1px solid #738290;
	border-radius: 5px;
	font-size: 1.5em;
	opacity: 0.75;
}

.save_sequence {
	background: aliceblue !important;
	font-family: 'Shrikhand', cursive;
	color: #738290;
	font-size: 1.5em;
	height: 50px;
	zoom: 0.75;
	margin-top: 10px;
}

.save_sequence:hover {
	background: white;
}

.saved_sequence {
	border: 1px dashed rgba(00, 00, 00, 0.5);
	margin: 10px auto;
	overflow: hidden;
	position: relative;
	width: 65%;
	background: white !important;
}

.saved_sequence:hover {
	background: floralwhite !important;
}

.saved_sequences {
	display: grid;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	margin: 10px 25px 0 -25px;
	padding-bottom: 15px;
}

.saved {
	position: relative;
	min-width: 246px;
	max-width: 246px;
	min-height: 167.5px;
	max-height: 167.5px;
	margin-top: 20px;
	border-radius: 5px;
	display: inline-block;
	justify-content: center;
	text-align: center;
	border: 1px dashed rgba(00, 00, 00, 0.5);
	padding: 25px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: white;
}

.saved input {
	border-radius: 5px;
	padding: 10px;
	width: -webkit-fill-available;
}