/* p a d s e e k */
/* sequence controls module css */

.clear_selections {
	font-family: 'Shrikhand', cursive;
	width: 80%;
	border: none;
	background: white;
	border-radius: 5px;
	height: 50px;
	font-size: 1.5em;
	margin: 10px 10%;
	color: white;
	border: 0.5px solid rgba(00, 00, 00, 0.25);
}

.clear_selections:hover {
	background: rgb(205, 130, 130);
}

.play_sequence {
	transition: zoom 1.5s ease-in-out;
	font-family: 'Shrikhand', cursive;
	width: 100%;
	background: aliceblue;
	height: 50px;
	border-radius: 5px;
	font-size: 1.5em;
	margin: 10px 0;
	color: #738290;
	border: 0.5px solid rgba(00, 00, 00, 0.25);
	transform: translatey(0px);
	position: relative;
	animation: play_float 2s ease-in-out infinite;
}

.play_sequence:hover {
	background: white;
}

.sample_sample {
	background: none;
	border: none;
	opacity: 0.25;
	padding: 10px 15px 0 10px;
}

.sequence_controls {
	padding: 10px 47px 10px 10px;
	width: 298px;
}

.tempo_field {
	text-align: center;
	font-size: 2em;
	border: 1px dashed rgba(00, 00, 00, 0.5);
	width: -webkit-fill-available;
	margin: 5px 50px;
	height: 50px;
	color: lightgrey;
	border-radius: 5px;
}

.tempo_field_label {
	text-align: center;
	margin-bottom: 0;
}