/* p a d s e e k */
/* sequence sharing module css */

.currently_loaded_sequence {
	width: -webkit-fill-available;
	text-align: left;
	position: absolute;
	margin-top: -12.5px;
	margin-left: 344px;
	padding: 0 10px;
}

.copy_sequence_JSON {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
}

.sharing {
	position: relative;
	min-width: 246px;
	max-width: 246px;
	min-height: 167.5px;
	max-height: 167.5px;
	margin-top: 20px;
	border-radius: 5px;
	display: inline-block;
	justify-content: center;
	text-align: center;
	border: 1px dashed rgba(00, 00, 00, 0.5);
	padding: 25px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sharing input {
	border-radius: 5px;
  padding: 10px;
  width: -webkit-fill-available;
}

.share_sequence {
	width: 100%;
	background: floralwhite !important;
	font-family: 'Shrikhand', cursive;
	color: #738290;
	font-size: 1.5em;
	height: 50px;
}

.share_sequence:hover {
	background: white !important;
	opacity: 1;
}

.shared_sequence {
	border: 1px dashed rgba(00, 00, 00, 0.5);
	margin: 10px auto;
  overflow: hidden;
	position: relative;
	background: white !important;
}

.shared_sequence:hover {
	background: floralwhite !important;
}

.shared_sequences {
	display: grid;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	margin: 25px 25px 0 -25px;
	padding-bottom: 15px;
}