* {
	transition: all 0.1s ease-in-out;
	outline: none;
}

.clear_selections {
	width: 100%;
	border: none;
	background: sandybrown;
	border-radius: 5px;
	height: 50px;
	font-size: 1.5em;
	margin: 10px 0;
	color: cornsilk;
}

.main_content {
	margin: 5%;
	padding: 50px;
	display: inline-flex;
	border: 1px dashed black;
}

.label {
	
}

.labels {
	width: -webkit-fill-available;
}

.labels, .selects {
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
	line-height: 35px;
	height: 294px;
	display: grid;
	width: 150px;
}

.labels_item {
	
}

.pad {
	min-width: 296px;
	max-width: 296px;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.pad, .pad_piece {
	border-radius: 5px;
	border: 0.5px dashed rgba(00, 00, 00, 0.25);
	background: floralwhite;
	padding: 2.5px 0 2.5px 0;
}

.pad_piece {
	transition: all 0.2s ease-in-out;
	min-width: 25px;
	height: 25px;
	margin: 5px;
	padding: 0;
	border-radius: 2px;
}

.pad_piece:hover {
	opacity: 0.75;
	cursor: pointer;
}

.pad_piece:active {
	opacity 0.25;
}

.play_sequence {
	width: 100%;
	border: none;
	background: aliceblue;
	height: 50px;
	border-radius: 5px;
	font-size: 1.5em;
	margin: 10px 0;
	color: slategray;
}

.select {
	width: 150px;
	border: none;
	background: antiquewhite;
}

.selects {
	
}

.sequence_controls {
	padding: 10px 0 10px 40px;
}

.tempo_field {
	text-align: center;
	font-size: 2em;
	border: 1px dashed lightgrey;
	width: -webkit-fill-available;
	margin: 5px 50px;
	height: 50px;
	color: lightgrey;
	border-radius: 5px;
}

.tempo_field_label {
	text-align: center;
	margin-bottom: 0;
}